<!--<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Folkish</a>
    </div>
8055599910

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/home">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#/about">About</a></li>
	<li><a href="#/contact">Contact Us</a></li>
      </ul>
      
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#/login">Login</a></li>
        <li><a href="">Sign up</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
<!--   </div> --><!-- /.container-fluid -->
  
<ul class="w3-navbar w3-large w3-red w3-left-align" ng-controller="headerController">
  <li class="w3-hide-medium w3-hide-large w3-red w3-opennav w3-right">
    <a href="javascript:void(0);" onclick="myFunction()">☰</a>
  </li>

  	<li><a href="#">Home</a></li>
 	<li class="w3-hide-small" ng-animate="'animate'"><a href="#/about">Work</a></li>
    <li class="w3-hide-small" ng-animate="'animate'"><a href="#/about">About</a></li>
	<li class="w3-hide-small" ng-animate="'animate'"><a href="#/contact">Contact</a></li>
	<li class="w3-hide-small w3-right" ng-animate="'animate'" ng-hide="currentUser"><a href="#/login">Login</a></li>
    <li class="w3-hide-small w3-right" ng-animate="'animate'" ng-hide="currentUser">
        <a href="#/register">
            Register
        </a>
    </li>
    <li class="w3-hide-small w3-right" ng-animate="'animate'" ng-show="currentUser" onclick="Materialize.toast('See you soon! :)', 2000)" ng-click="logout()"><a>Logout</a></li>
    <li class="w3-hide-small w3-right" ng-animate="'animate'" ng-show="currentUser">
        <a href="#">
            Hello, {{currentUser.username}}
        </a>
    </li>

</ul>

<div id="demo" class="w3-hide w3-hide-large w3-hide-medium" ng-controller="headerController">
  <ul class="w3-navbar w3-left-align w3-large w3-red">
    
		<li><a href="#/about">About</a></li>
		<li><a href="#/contact">Contact</a></li>
		<li ng-hide="currentUser"><a href="#/login">Login</a></li>
		<li><a href="#/register" ng-hide="currentUser">Register</a></li>
          <li><a ng-show="currentUser">Hello, {{currentUser.username}}</a></li>	
          <li ng-show="currentUser" ng-click="logout()"><a>Logout</a></li>
  </ul>
</div>

<script>
function myFunction() {
    var x = document.getElementById("demo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>




<br>
<br>
<br>

            
  
  
</nav>
