<div>
    <h1>Welcome to Folkish</h1>
    <h2>Folkish by Ashish Kumar.</h2>
    <div>
	   <p>Ashish Kumar(me) am an illustrator, Artist, Crafter , graphic Designer
	   and Software engineer, and folkish is an art app project I am working on 
	   right now with a fellow web designer, Rohan Joshi. This project is platform 
	   to showcase my works to the world.</p> 
       <p>I always dream. I live in alternate world think about being there. I always
	   wanted to be able to portray what i dreamof to the people. I am still an immature
	   artist ,who is still experimenting and exploring different ways to display piece of
	   my dream.</p>
       <p>My background started with freelance graphic designer when I was 20 year old. I 
	   moved to pursue computer science as my career and did my bachelors and Masters in tech 
	   field, something i am also passionate about but I never let art go away from my life. I 
	   got my first wacom in 2012 and that when I started explroing whole new digital world of creativity.</p>

       <p>I met Rohan during my Master's study at Northeastern University. Wewere brainstorming
	   one day and then idea to make an app for my art was put up o table and here we are trying best
	   to implement it</p>
	   
       <p>Rohan is a...(add something)...</p>	
	</div>   


</div>