
<style>
.w3-lobster {
  font-family: "Lobster", serif;
}
</style>

<div class="row">

	<div class="col-md-12" align="center">
		<p class="w3-xxxlarge">Welcome</p>
	</div>
	
	<div class="w3-content w3-section" style="max-width:500px">
          <img class="mySlides w3-animate-left" src="img1.jpg" style="width:100%">
          <img class="mySlides w3-animate-left" src="img6.jpg" style="width:100%">
          <img class="mySlides w3-animate-left" src="img4.jpg" style="width:100%">
    	</div>
    
    
    <!-- This is javascript for the slideshow. Need to make it smarter and into its own file -->
    <script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
           x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 5000); // Change image every 5 seconds
        }
    </script>
    
    <!-- end of slideshow javascript -->
    
    <div class="col-md-12" align="center">
		<p class="w3-xxxlarge">See some more of our Art!</p>
	</div>
	
	
	<div class="col-md-4 repeat-animation hide-fade" ng-repeat="product in products">
		<div class="w3-card-12 w3-dark-grey">
			<img src="{{product.image}}" style="width: 100%;" alt="{{product.name}}" onclick="document.getElementById('modal01').style.display='block'">
			<div class="w3-container w3-center" style="padding: 5px;">
		  		<p>{{product.name}}, by {{product.author}}</p>
				<a class="w3-btn-floating-large w3-teal">+</a>
		  	</div>
		</div>
		<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
			  <span class="w3-closebtn w3-hover-red w3-container w3-padding-16 w3-display-topright">&times;</span>
			  <div class="w3-modal-content w3-animate-zoom">
			    <img src="{{product.image}}" style="width:100%">
			  </div>
		</div>
		<br>
	</div>

</div>
