

<div class="container" ng-animate="'animate'">
	<div class="w3-card-4" style="width:100%;">
	 
	<header class="w3-container w3-dark-grey w3-center">
		<h1>Login</h1>
	</header>

	<div class="w3-container" style="background-color: white;">
		<form class="w3-container" style="background-color: white;">
            <br>
			<p>
				<label>Username</label>
				<input class="w3-input" placeholder="username" type="text" ng-model="user.username" required>
			</p>

			<p>
				<label>Password</label>
				<input class="w3-input" placeholder="password" type="password" ng-model="user.password" required>
			</p>

			<p class="w3-center"><button class="w3-btn w3-teal w3-center" ng-click="login()" onclick="Materialize.toast('Welcome!', 2000)" type="submit">Get In!</button></p>
			<br>
		</form>	
	</div>

	</div>
</div>
