
<style>
.w3-lobster {
  font-family: "Lobster", serif;
}

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
 
</style>

<div class="row-fluid">
    <ul class ="thumbnails">
        <li class="span4">
            <article class="thumbnail">
                <img src="../images/digital_art/10492982_707578889278831_1496765675439451817_o.jpg" width="50%"/>
                <h3>image 1</h3>
                <p>this is descrption of athe amsa wimages that i am agaouens</p>
            </article>
        </li>
        <li class="span4">
            <article class="thumbnail">
                <img src="../images/graphic design/154695_459871010716288_510760191_n.jpg" width="50%"/>
                <h3>image 1</h3>
                <p>this is descrption of athe amsa wimages that i am agaouens</p>
            </article>
            </li>

            <li class="span4">
            <article class="thumbnail">
                <img src="../images/mehfil/1009569_532200256816696_326790458_o.jpg" width="50%"/>
                <h3>image 1</h3>
                <p>this is descrption of athe amsa wimages that i am agaouens</p>
            </article>
        </li>
        
    </ul>


</div>
